/* Begin Medialets Reset CSS */
* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
}
/* End Medialets Reset CSS */