<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="welcome.css" />
</head>
<body>
    <div id="board">
        <div id="title">
            用户登录
        </div>
        <div id="img">
            <form id="form">
                <input type="email" placeholder="E-mail" />
                <input type="password" placeholder="password" />
                <span>
                    <a href="#">忘记密码</a>
                </span>
                <input type="submit" value="登录" />
            </form>
        </div>
    </div>
</body>
</html>